.boks{
	width: 200px;
	height: 200px;
	background-color: lightskyblue;
	margin-bottom: 1em;
	transition: transform opacity 2s ease;
}

.dims{
    transform: translateX(-200px);
	opacity: 0.5;
}

.dims-on{
	transform: translateX(200px);
	opacity: 1;
}