@use "./scss/reset";
@use "./scss/header";
@use "./scss/primaryMenu";
@use "./scss/cards";


.boks{
	width: 200px;
	height: 200px;
	background-color: lightskyblue;
	margin-bottom: 1em;
}

.dims{
    color: #FFF;
}
